<h1>Articles</h1>
<br>
<table>
    <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Description</th>
        <th colspan = 3>Actions</th>
    </tr>
    <% @articles.each do |article |%>
        <tr>
            <td><%=article.id%></td>
            <td><%=article.title%></td>
            <td><%=article.description%></td>
            <td><%= link_to 'Show',article_path(article), data: { "turbo-method": :get } %></td>
            <td><%= link_to 'Edit',edit_article_path(article), data: { "turbo-method": :get } %></td>
            <td><%= link_to 'Delete',article_path(article), data: { "turbo-method": :delete,"turbo_confirm": "Are you sure" } %></td>
        </tr>
    <% end %>
</table>
</br>
<%= link_to 'New Article',new_article_path(), data: { "turbo-method": :get } %>
